.clippy-page-header__actions {
  display: flex;
  gap: var(--basis-space-row-4xl);
  justify-content: flex-end;
}

.clippy-page-header__action-link {
  align-items: center;
  column-gap: var(--basis-space-inline-xs);
  display: inline-flex;
}
