/* ==========================================================================
   Results List
   ========================================================================== */
.clippy--search-results-list__items {
  display: flex;
  flex-direction: column;
  gap: var(--basis-space-row-xl);
  list-style: none;
  margin: 0;
  padding: 0;
}
