/* ==========================================================================
   Results List
   ========================================================================== */
.clippy--search-results-list__items {
  display: flex;
  flex-direction: column;
  gap: var(--basis-space-row-xl);
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}
