/* ==========================================================================
   Search Page Layout
   ========================================================================== */
.clippy--search-page-container {
  display: flex;
  flex-direction: column;
  gap: var(--basis-space-row-2xl);
  margin-block-start: var(--basis-space-row-xl);
}
