/* Gemeentevoorbeeld specific styles */
* {
  box-sizing: border-box;
  margin-block: 0;
  margin-inline: 0;
}

.clippy-section {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  margin-block-end: 2rem;
  margin-block-start: 2rem;
  margin-inline: auto;
  max-inline-size: var(--utrecht-section-max-inline-size);
}

.clippy-section--secondary {
  background-color: var(--utrecht-page-background-secondary);
}

nav.clippy-top-tasks {
  block-size: 100%;
  display: block;
}

.clippy-voorbeeld__link,
.clippy-voorbeeld__card {
  align-items: start !important;
  background-color: var(--clippy-voorbeeld-card-bg);
  block-size: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: var(--clippy-voorbeeld-card-padding-block) !important;
  padding-inline: var(--clippy-voorbeeld-card-padding-inline) !important;
  row-gap: var(--clippy-voorbeeld-card-row-gap);
}

.clippy-voorbeeld__link header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: var(--basis-space-row-xl);
}

.clippy-page-header__actions {
  display: flex;
  gap: var(--basis-space-row-4xl);
  justify-content: flex-end;
}

.clippy-page-header__action-link {
  align-items: center;
  column-gap: var(--basis-space-inline-xs);
  display: inline-flex;
}

.clippy-voorbeeld-accordion__section .utrecht-accordion__button[aria-expanded="true"] {
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  border-start-end-radius: var(--utrecht-button-border-radius);
  border-start-start-radius: var(--utrecht-button-border-radius);
}

.clippy-voorbeeld-accordion__section .utrecht-accordion__panel--expanded {
  background-color: var(--utrecht-accordion-button-background-color);
  border-end-end-radius: var(--utrecht-button-border-radius);
  border-end-start-radius: var(--utrecht-button-border-radius);
  border-start-end-radius: 0;
  border-start-start-radius: 0;
  margin-block-end: -1px;
}
