.row {
  inline-size: calc(100% + var(--row-column-gap, 0px));
  margin-inline: calc(var(--row-column-gap, 0px) / -2);
  row-gap: var(--row-row-gap, 0);
}

.row--full-height {
  height: 100%;
}

.col {
  padding-inline: calc(var(--row-column-gap, 0px) / 2);
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-11 {
  flex: 0 0 91.6667%;
  max-width: 91.6667%;
}

.col-10 {
  flex: 0 0 83.3333%;
  max-width: 83.3333%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-8 {
  flex: 0 0 66.6667%;
  max-width: 66.6667%;
}

.col-7 {
  flex: 0 0 58.3333%;
  max-width: 58.3333%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-5 {
  flex: 0 0 41.6667%;
  max-width: 41.6667%;
}

.col-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-2 {
  flex: 0 0 16.6667%;
  max-width: 16.6667%;
}

.col-1 {
  flex: 0 0 8.3333%;
  max-width: 8.3333%;
}

@media (width <= 768px) {
  .row {
    align-items: stretch;
    inline-size: 100%;
    justify-content: flex-start !important;
    margin: 0;
  }

  .row--reverse-small {
    flex-direction: column-reverse;
  }

  .row > .col {
    flex: 0 0 100%;
    max-width: 100%;
    padding-inline: 0;
  }
}
