* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
}

.layout-main {
  display: flex;
}

.layout-main > theme-wizard-side-nav {
  flex: 0 0 var(--denhaag-sidenav-min-width, 240px);
}

.layout-main > utrecht-page-content {
  flex: 1;
}

.todo-card-layout {
  display: flex;
  flex-wrap: wrap;
  gap: var(--basis-space-column-xl);
}

.footer-grid {
  display: flex;
  gap: var(--basis-space-column-md);
}

.footer-grid > * {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--basis-space-column-lg);
}

.voorbeeld-toptask {
  margin-inline: auto;
  inline-size: 100%;
  max-inline-size: var(--basis-article-max-inline-size, 1200px);
  padding-inline: var(--basis-space-inline-lg);
}

.voorbeeld-toptask__layout {
  display: flex;
  justify-content: space-between;
  gap: var(--basis-space-column-xl);
}

.voorbeeld-toptask__nav {
  display: grid;
  inline-size: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--basis-space-row-md);
}

.voorbeeld-toptask__link {
  padding: var(--basis-space-inline-lg);
  background-color: var(--basis-color-accent-1-bg-default);
  color: var(--basis-color-accent-1-inverse-color-default);
}

.voorbeeld-toptask__card {
  padding: var(--basis-space-inline-lg);
  background-color: var(--basis-color-accent-1-bg-subtle);
  min-inline-size: min(320px, 100%);
}
