.layout {
  display: flex;
  flex-direction: column;
}

.layout-main {
  display: flex;
}

.layout-main > theme-wizard-side-nav {
  flex: 0 0 var(--denhaag-sidenav-min-width, 240px);
}

.layout-main > utrecht-page-content {
  flex: 1;
}

.todo-card-layout {
  display: flex;
  flex-wrap: wrap;
  gap: var(--basis-space-column-xl);
}

.footer-grid {
  display: flex;
  gap: var(--basis-space-column-md);
}

.footer-grid > * {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--basis-space-column-lg);
}
