.preview-theme {
  /* Clippy side navigation tokens */
  --clippy-side-navigation-display: flex;
  --clippy-side-navigation-flex-direction: column;
  --clippy-side-navigation-row-gap: var(--basis-space-row-3xl);
  --clippy-side-navigation-min-inline-size: 240px;

  /* Clippy space tokens */
  --clippy-space-around: var(--basis-space-inline-sm, 4px);

  /* Clippy voorbeeld card tokens */
  --clippy-voorbeeld-card-background-color: var(--basis-color-default-bg-subtle);
  --clippy-voorbeeld-card-outline: var(--basis-color-default-border-subtle);
  --clippy-voorbeeld-card-padding-block: var(--basis-space-block-3xl);
  --clippy-voorbeeld-card-padding-inline: var(--basis-space-inline-3xl);
  --clippy-voorbeeld-card-row-gap: var(--basis-space-row-xl);

  /* Clippy page padding tokens */
  --clippy-page-content-padding-block-start: var(--basis-space-row-2xl);
  --clippy-page-content-padding-block-end: var(--basis-space-row-2xl);
  --clippy-page-padding-inline-start: var(--basis-space-inline-lg);
  --clippy-page-padding-inline-end: var(--basis-space-inline-lg);
  --clippy-page-header-padding-block-start: var(--basis-space-row-lg);
  --clippy-page-header-padding-block-end: var(--basis-space-row-lg);

  /* Clippy section/page/nav-bar tokens */
  --clippy-page-secondary-background-color: var(--basis-color-default-border-subtle);
  --clippy-nav-bar-content-max-inline-size: 1140px;
}
