@import "./clippy-tokens.css";

.preview-theme {
  /* Denhaag side navigation tokens (mapping) */
  --denhaag-side-navigation-display: var(--clippy-side-navigation-display);
  --denhaag-side-navigation-flex-direction: var(--clippy-side-navigation-flex-direction);
  --denhaag-side-navigation-row-gap: var(--clippy-side-navigation-row-gap);
  --denhaag-side-navigation-min-width: var(--clippy-side-navigation-min-inline-size);

  /* Utrecht page tokens (mapping) */
  --utrecht-page-content-padding-block-start: var(--clippy-page-content-padding-block-start);
  --utrecht-page-content-padding-block-end: var(--clippy-page-content-padding-block-end);
  --utrecht-page-header-padding-block-start: var(--clippy-page-header-padding-block-start);
  --utrecht-page-header-padding-block-end: var(--clippy-page-header-padding-block-end);

  /* Utrecht space tokens (mapping) */
  --utrecht-space-around: var(--clippy-space-around);
}

.theme-wizard-collage-component {
  display: flex;
  flex-direction: column;
  padding: var(--basis-space-block-xl) var(--basis-space-inline-lg);
  border-block-end: 1px solid var(--basis-color-default-border-default);
}

.theme-wizard-collage-component-header {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: var(--basis-space-block-sm);
  margin-block-end: var(--basis-space-block-lg);
}

.theme-wizard-collage-component-header h2 {
  margin: 0;
  font-size: var(--basis-text-font-size-lg);
  font-weight: var(--basis-text-font-weight-bold);
  line-height: var(--basis-text-line-height-md);
  color: var(--basis-color-default-color-default);
}

.theme-wizard-collage-component-header p {
  font-family: "Roboto", sans-serif;
  margin-block: 0;
  margin-inline: 0;
  font-size: var(--basis-text-font-size-md);
  font-weight: var(--basis-text-font-weight-regular);
  line-height: var(--basis-text-line-height-md);
  color: var(--basis-color-default-color-subtle);
}

.theme-wizard-collage-component-content {
  display: flex;
  gap: var(--basis-space-block-sm);
  flex-wrap: wrap;
}

.theme-wizard-collage-component-content.theme-wizard-collage-component-content--stacked {
  flex-direction: column;
  gap: var(--basis-space-block-sm);
}

.layout {
  display: flex;
  flex-direction: column;
}

.layout-main {
  display: flex;
}

.layout-main > theme-wizard-side-nav {
  flex: 0 0 var(--denhaag-sidenav-min-width, 240px);
}

.layout-main > utrecht-page-content {
  flex: 1;
}

.todo-card-layout {
  display: flex;
  flex-wrap: wrap;
  gap: var(--basis-space-column-xl);
}

.footer-grid {
  display: flex;
  gap: var(--basis-space-column-md);
}

.footer-grid > * {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--basis-space-column-lg);
}
