.clippy-theme {
  --theme-wizard-breadcrumb-nav-arrows-link-background-color: var(--basis-color-default-bg-default);
  --theme-wizard-breadcrumb-nav-min-block-size: var(--basis-pointer-target-min-block-size);
  --theme-wizard-breadcrumb-nav-font-family: var(--basis-text-font-family-default);
  --theme-wizard-breadcrumb-nav-font-size: var(--basis-text-font-size-md);
  --theme-wizard-breadcrumb-nav-line-height: var(--basis-text-line-height-md);
  --theme-wizard-breadcrumb-nav-text-decoration: none;
  --theme-wizard-breadcrumb-nav-text-transform: inherit;

  --theme-wizard-breadcrumb-nav-item-first-padding-inline-start: 0;
  --theme-wizard-breadcrumb-nav-item-padding-block-start: var(--basis-space-block-lg);
  --theme-wizard-breadcrumb-nav-item-padding-block-end: var(--basis-space-block-lg);
  --theme-wizard-breadcrumb-nav-item-padding-inline-end: var(--basis-space-inline-md);
  --theme-wizard-breadcrumb-nav-item-padding-inline-start: var(--basis-space-inline-md);

  --theme-wizard-breadcrumb-nav-link-color: var(--basis-color-action-2-color-default);
  --theme-wizard-breadcrumb-nav-link-focus-background-color: var(--basis-focus-background-color);
  --theme-wizard-breadcrumb-nav-link-focus-color: var(--basis-focus-color);
  --theme-wizard-breadcrumb-nav-link-focus-text-decoration: underline;
  --theme-wizard-breadcrumb-nav-link-hover-color: var(--basis-color-action-2-color-hover);
  --theme-wizard-breadcrumb-nav-link-hover-text-decoration: underline;
  --theme-wizard-breadcrumb-nav-link-current-font-weight: var(--basis-text-font-weight-bold);
  --theme-wizard-breadcrumb-nav-link-disabled-color: var(--basis-color-disabled-color-subtle);
  --theme-wizard-breadcrumb-nav-link-icon-size: var(--basis-size-icon-md);

  --theme-wizard-breadcrumb-nav-separator-color: var(--basis-color-default-color-subtle);
  --theme-wizard-breadcrumb-nav-separator-icon-size: var(--basis-size-icon-sm);

  --theme-wizard-breadcrumb-nav-arrows-link-background-color: var(--basis-color-default-bg-default);
  --theme-wizard-breadcrumb-nav-arrows-link-focus-background-color: var(--basis-focus-background-color);

  --theme-wizard-drawer-border-color: var(--ma-color-white);

  /* Theme Wizard collage component tokens */
  --theme-wizard-collage-component-padding-block: var(--basis-space-block-xl);
  --theme-wizard-collage-component-padding-inline: var(--basis-space-inline-lg);
  --theme-wizard-collage-component-border-color: var(--basis-color-default-border-default);

  --theme-wizard-collage-component-header-font-family: "Roboto", sans-serif;
  --theme-wizard-collage-component-header-gap: var(--basis-space-block-sm);
  --theme-wizard-collage-component-header-margin-block-end: var(--basis-space-block-lg);

  --theme-wizard-collage-component-header-heading-font-size: var(--basis-text-font-size-lg);
  --theme-wizard-collage-component-header-heading-font-weight: var(--basis-text-font-weight-bold);
  --theme-wizard-collage-component-header-heading-line-height: var(--basis-text-line-height-md);
  --theme-wizard-collage-component-header-heading-color: var(--basis-color-default-color-default);

  --theme-wizard-collage-component-header-paragraph-font-size: var(--basis-text-font-size-md);
  --theme-wizard-collage-component-header-paragraph-font-weight: var(--basis-text-font-weight-regular);
  --theme-wizard-collage-component-header-paragraph-line-height: var(--basis-text-line-height-md);
  --theme-wizard-collage-component-header-paragraph-color: var(--basis-color-default-color-subtle);

  --theme-wizard-collage-component-content-gap: var(--basis-space-block-sm);

  --theme-wizard-side-navigation-display: flex;
  --theme-wizard-side-navigation-flex-direction: column;
  --theme-wizard-side-navigation-row-gap: var(--basis-space-row-3xl);
  --theme-wizard-side-navigation-min-width: 240px;

  --denhaag-side-navigation-display: var(--theme-wizard-side-navigation-display);
  --denhaag-side-navigation-flex-direction: var(--theme-wizard-side-navigation-flex-direction);
  --denhaag-side-navigation-row-gap: var(--theme-wizard-side-navigation-row-gap);
  --denhaag-side-navigation-min-width: var(--theme-wizard-side-navigation-min-width);

  --utrecht-breadcrumb-nav-arrows-link-background-color: var(
    --theme-wizard-breadcrumb-nav-arrows-link-background-color
  );
  --utrecht-breadcrumb-nav-min-block-size: var(--theme-wizard-breadcrumb-nav-min-block-size);
  --utrecht-breadcrumb-nav-font-family: var(--theme-wizard-breadcrumb-nav-font-family);
  --utrecht-breadcrumb-nav-font-size: var(--theme-wizard-breadcrumb-nav-font-size);
  --utrecht-breadcrumb-nav-line-height: var(--theme-wizard-breadcrumb-nav-line-height);
  --utrecht-breadcrumb-nav-text-decoration: var(--theme-wizard-breadcrumb-nav-text-decoration);
  --utrecht-breadcrumb-nav-text-transform: var(--theme-wizard-breadcrumb-nav-text-transform);

  --utrecht-breadcrumb-nav-item-first-padding-inline-start: var(
    --theme-wizard-breadcrumb-nav-item-first-padding-inline-start
  );
  --utrecht-breadcrumb-nav-item-padding-block-start: var(--theme-wizard-breadcrumb-nav-item-padding-block-start);
  --utrecht-breadcrumb-nav-item-padding-block-end: var(--theme-wizard-breadcrumb-nav-item-padding-block-end);
  --utrecht-breadcrumb-nav-item-padding-inline-end: var(--theme-wizard-breadcrumb-nav-item-padding-inline-end);
  --utrecht-breadcrumb-nav-item-padding-inline-start: var(--theme-wizard-breadcrumb-nav-item-padding-inline-start);

  --utrecht-breadcrumb-nav-link-color: var(--theme-wizard-breadcrumb-nav-link-color);
  --utrecht-breadcrumb-nav-link-focus-background-color: var(--theme-wizard-breadcrumb-nav-link-focus-background-color);
  --utrecht-breadcrumb-nav-link-focus-color: var(--theme-wizard-breadcrumb-nav-link-focus-color);
  --utrecht-breadcrumb-nav-link-focus-text-decoration: var(--theme-wizard-breadcrumb-nav-link-focus-text-decoration);
  --utrecht-breadcrumb-nav-link-hover-color: var(--theme-wizard-breadcrumb-nav-link-hover-color);
  --utrecht-breadcrumb-nav-link-hover-text-decoration: var(--theme-wizard-breadcrumb-nav-link-hover-text-decoration);
  --utrecht-breadcrumb-nav-link-current-font-weight: var(--theme-wizard-breadcrumb-nav-link-current-font-weight);
  --utrecht-breadcrumb-nav-link-disabled-color: var(--theme-wizard-breadcrumb-nav-link-disabled-color);
  --utrecht-breadcrumb-nav-link-icon-size: var(--theme-wizard-breadcrumb-nav-link-icon-size);

  --utrecht-breadcrumb-nav-separator-color: var(--theme-wizard-breadcrumb-nav-separator-color);
  --utrecht-breadcrumb-nav-separator-icon-size: var(--theme-wizard-breadcrumb-nav-separator-icon-size);

  --utrecht-breadcrumb-nav-arrows-link-background-color: var(
    --theme-wizard-breadcrumb-nav-arrows-link-background-color
  );
  --utrecht-breadcrumb-nav-arrows-link-focus-background-color: var(
    --theme-wizard-breadcrumb-nav-arrows-link-focus-background-color
  );

  --utrecht-drawer-border-color: var(--theme-wizard-drawer-border-color);
}

.theme-wizard-collage-component {
  display: flex;
  flex-direction: column;
  padding: var(--basis-space-block-xl) var(--basis-space-inline-lg);
  border-block-end: 1px solid var(--basis-color-default-border-default);
}

.theme-wizard-collage-component-header {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: var(--basis-space-block-sm);
  margin-block-end: var(--basis-space-block-lg);
}

.theme-wizard-collage-component-header h2 {
  margin: 0;
  font-size: var(--basis-text-font-size-lg);
  font-weight: var(--basis-text-font-weight-bold);
  line-height: var(--basis-text-line-height-md);
  color: var(--basis-color-default-color-default);
}

.theme-wizard-collage-component-header p {
  font-family: "Roboto", sans-serif;
  margin-block: 0;
  margin-inline: 0;
  font-size: var(--basis-text-font-size-md);
  font-weight: var(--basis-text-font-weight-regular);
  line-height: var(--basis-text-line-height-md);
  color: var(--basis-color-default-color-subtle);
}

.theme-wizard-collage-component-content {
  display: flex;
  gap: var(--basis-space-block-sm);
  flex-wrap: wrap;
}

.theme-wizard-collage-component-content.theme-wizard-collage-component-content--stacked {
  flex-direction: column;
  gap: var(--basis-space-block-sm);
}

.layout {
  display: flex;
  flex-direction: column;
}

.layout-main {
  display: flex;
}

.layout-main > theme-wizard-side-nav {
  flex: 0 0 var(--denhaag-sidenav-min-width, 240px);
}

.layout-main > utrecht-page-content {
  flex: 1;
}

.todo-card-layout {
  display: flex;
  flex-wrap: wrap;
  gap: var(--basis-space-column-xl);
}

.footer-grid {
  display: flex;
  gap: var(--basis-space-column-md);
}

.footer-grid > * {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--basis-space-column-lg);
}
