name: Add issues project

on:
  issues:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    environment: issues
    steps:
      - uses: actions/add-to-project@244f685bbc3b7adfa8466e08b698b5577571133e # v1.0.2
        with:
          project-url: https://github.com/orgs/nl-design-system/projects/70
          github-token: ${{ secrets.ADD_TO_PROJECT_GITHUB_TOKEN }}
